@import 'default.scss';

#root:has(.main-cont){
  background-image: url('../../public/home/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-cont {
  display: grid;
  grid-template-columns: 90ch 1fr;
  align-items: end;
  padding: 0rem 8rem 6rem 8rem;
  position: relative;

  .text-wrapper {
    & > * {
      margin: 0;
    }

    .title-eyebrow {
      font-size: 3rem;
    }

    .main-title {
      font-size: 12rem;
      font-family: $font-name-1;
      font-weight: 100;
    }

    .main-desc {
      width: 45ch;
      font-size: 2rem;
      color: $prim-clr-3;
    }
  }

  .explore-btn {
    background-color: $prim-clr-1;
    color: $prim-clr-4;
    justify-self: end;
    width: 20rem;
    aspect-ratio: 1;
    border-radius: 50%;
    font-family: $font-name-1;
    font-size: 3rem;
    font-weight: 100;
    border: none;
    outline: none;
    margin: 0 4rem 4rem 0;
    cursor: pointer;
    position: relative;
    display: grid;
    place-items: center;
    text-decoration: none;

    &::after {
      content: "";
      width: 120%;
      aspect-ratio: 1;
      border-radius: 50%;
      position: absolute;
      outline: 2px dashed $prim-clr-5;
      top: -10%;
      left: -10%;
      scale: 0.8;
      transition: scale ease-in-out 300ms;
    }

    &:hover::after {
      scale: 1;
      animation: rotatingBorder infinite linear 20s;
    }
  }
}
